li a {
    text-align: center;
}

#navBar {
    height: 61px;
}

.navBarLinks {
    font-size: 21px;
    margin-top: 5px;
}

.carousel {
    z-index: 1;
}

div#carouseldiv {
    margin-top: 51px;
}

img#sunsetlogoTop {
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

#bottom_logo_container {
    position: absolute;
    height: auto;
    width: auto;
}

img#sunsetlogoBottom {
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
    top: -100%;
    left: 50%;
    transform: translate(-100%, -370%);
    top: 0;
    z-index: 1;
}

p#para.text-center {
    font-size: large;
    margin: 30px 0;
    font-family: 'Roboto';
}

div#centerdiv {
    padding: 0 30px;
}

button.btn.btn-primary.btn-lg {
    display: block;
    margin: auto;
}

div#modelsdiv {
    padding: 0 30px;
}

div#finishesdiv {
    padding: 0 30px;
    margin-bottom: 50px;
}

div.col-lg-6.col-md-6.col-sm-6.col-xs-12 {
    margin: 15px 0;
}

div#finishesrow.row {
    margin-bottom: 30px;
}

#footerdiv {
    display: inline-block;
    margin: 0 auto;
    min-height: 240px;
    width: 100%;
    background-color: #334B5C;
    padding: 15px 20px;
    text-align: center;
}

#footerHeading {
    margin-top: 10px;
}

#sunsetFooter {
    transform: translateY(80%);
    position: relative;
    top: 32%;
    display: block;
    float: left;
    width: 20%;
}

@media (max-width: 768px) {
    #sunsetFooter {
        display: none;
    }
}

#footerText {
    position: relative;
    display: block;
    left: 60%;
    transform: translateX(-140%);
}

@media (max-width: 990px) {
    #footerText {
        transform: translateX(-110%);
    }
}

@media (max-width: 768px) {
    #footerText {
        transform: translateX(-70%);
    }
}

#remaxFooter {
    transform: translateY(80%);
    position: relative;
    top: 32%;
    display: block;
    float: right;
    width: 20%;
}

@media (max-width: 768px) {
    #remaxFooter {
        display: none;
    }
}

#footerdiv p.text-center {
    color: #ffffff;
    margin-bottom: 1px;
}

#footerdiv h4.text-center {
    color: #ffffff;
    margin-bottom: 1px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p#copyright.text-center {
    color: #6D7477;
    font-size: smaller;
    margin-top: 15px;
}

img#whiteremax.img-responsive {
    position: absolute;
    display: block;
    z-index: 2000;
    margin-left: 940px;
    margin-top: -40px;
    width: 15%;
}

img#whitelogo.img-responsive {
    position: absolute;
    display: block;
    z-index: 2000;
    margin-left: 40px;
    margin-top: -40px;
    width: 15%;
}

img#balloon.img-responsive {
    height: 100px;
    width: auto;
    margin-left: 10px;
    animation-name: balloonFloat;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.hovereffect .overlay {
    border-radius: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
    background-color: rgba(255, 233, 155, 0.4);
}

.hovereffect img {
  border-radius: 0;
  display:block;
  position:relative;
}

.hovereffect h2 {
  height: 40px;
  width: 100%;
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:absolute;
  bottom: 0;

  font-family: 'Roboto Slab';
  font-size:17px;
  padding:10px;
  background:rgba(0, 0, 0, 0.6);
  -webkit-transform:translateY(10px);
  -ms-transform:translateY(10px);
  transform:translateY(10px);
  -webkit-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  /*-webkit-transform:translateY(5px);
  -ms-transform:translateY(5px);
  transform:translateY(5px);*/
}

a#contactnav {
    cursor: pointer;
}

.nav li {
    font-family: 'Roboto';
    text-transform: uppercase;
}

h1.text-center {
    font-family: 'Roboto Slab';
}

button.btn.btn-primary {
    font-family: 'Roboto';
}

#footerdiv {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto';
}



h4.text-center.modal-title-font {
    font-family: 'Roboto Slab';
    font-size: 30px;
}

button.btn.btn-default {
    font-family: 'Roboto';
}

ul.nav.navbar-nav.navbar-right {
    margin-right: 20px;
}

.hr_titles {
    margin: 50px 40px;
    border-bottom: 1px solid #000;
    line-height: .1em;
}

.hr_titles_text {
    background: #fff;
    padding: 0 50px;
}

.modal_titles{
  margin: 20px 50px;
  border-bottom: 1px solid #000;
  line-height: .1em;
}

.modal_titles_text {
  width: 50%;
  background: #fff;
  padding: 0 50px;
}

.model_base{
  margin-bottom: 0;
  background-color: #4B4B5A;
}

.model_base_info {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  width: 24%;
  padding: 20px 0 20px 0;
  color: #fff;
}

.model_bonus_container {
  height: auto;
  width: auto;
  overflow: hidden;
  background-color: #373748;
}

.model_bonus {
  width: 50%;
  padding-bottom: 10px;

}

.model_bonus_column_left {
  float: left;
}

.model_bonus_column_right {
  float: right;
}

.model_bonus_info {
  margin-top:   20px;
  display: block;
  text-align: center;
  padding: 0 0 10px 0;
  color: #fff;
  /*background-color: red;*/
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 15px;
}


/* ANIMATION */

@keyframes balloonFloat {
    0% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0);
    }
}

a {
  color: white;
  }
a:visited {
  color: white;
  }
a:hover {
  color: white;
}
a:active {
  color: white;
}
